.wrapper{
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: width 2s ease-in-out;
    background: #a1b68d;
    background: -webkit-linear-gradient(to right, #a1b68d, #9ebd95, #eada83);
    background: linear-gradient(to right, #a1b68d, #9ebd95, #eada83);
    z-index: 1;
}
.header{
    display: flex;
    background-color: #fff;
    min-height: 55px;
    align-items: center;
    padding: 8px 13px 8px 24px;
    z-index: 1;
    box-shadow: 0 2px 2px rgba(114,114,114,0.12)
}
.chat_icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    margin-right: 10px;

}
.title{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
.status{
    font-size: 14px;
    font-weight: 400;
    color: #707579;
}
.newMessageForm{
    margin: 0 auto;
    height: 60px;
}

.typing {
    width: 5em;
    height: 2em;
    position: relative;
    padding: 10px;
    margin-left: 5px;
    background: #e6e6e6;
    border-radius: 20px;
}

.typing__dot {
    float: left;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background: #8d8c91;
    border-radius: 50%;
    opacity: 0;
    animation: loadingFade 1s infinite;
}

.typing__dot:nth-child(1) {
    animation-delay: 0s;
}

.typing__dot:nth-child(2) {
    animation-delay: 0.2s;
}

.typing__dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes loadingFade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}

