.wrapper {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: #fff;
    width: 25vw;
    transition: 0.3s ease-in-out;
    transform: translate3d(25vw, 0, 0);
    border-left: 1px solid rgb(218,220,224);
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.transitionActive {
    transform: translate3d(0, 0, 0);
}

.wrapper_enterActive {
    transform: translate3d(0, 0, 0);
}

.wrapper_enterDone {
    transform: translate3d(0, 0, 0);
}

.wrapper_exitActive {
    transform: translate3d(25vw, 0, 0);
}

.header {
    display: flex;
    padding: 7px 13px;
    position: relative;
}

.closeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.closeButton:hover {
    background-color: rgba(112, 117, 121, 0.08);
}

.closeButton__icon {
    height: 1.5px;
    width: 18px;
    background: #989BA1;
    transition: 0.3s ease-in-out;
    transform: rotate(-45deg);
    z-index: 2;
}

.closeButton__icon:before, .closeButton__icon:after {
    display: block;
    width: inherit;
    height: inherit;
    left: 0;
    background: inherit;
    content: '';
    position: absolute;
    transition: 0.3s ease-in-out;
}

.closeButton__icon:before {
    bottom: 400%;
    transform: translateY(6px) rotate(90deg);
}

.closeButton__icon:after {
    top: 400%;
    transform: translateY(-6px);
}

.open > .closeButton__icon {
    transform: rotate(540deg)
}

.open > .closeButton__icon:before {
    transform: translateX(6px) translateY(1.5px) rotate(45deg);
    width: 14px;
}

.open > .closeButton__icon:after {
    transform: translateX(6px) translateY(-1.5px) rotate(-45deg);
    width: 14px;
}

.slideFadeWrapper {
    flex: 1;
    position: relative;
}

.slideFade {
    display: flex;
    width: 100%;
    align-items: center;
    transition: .3s ease-in-out;
    background-color: #fff;
}

.toLeft {
    transform: translate3d(-30px, 0, 0);
    opacity: 0;
    position: absolute;
}

.returnFromLeft {
    transform: translate3d(-30px, 0, 0);
    opacity: 0;
    position: absolute;
}

.returnFromLeft_active {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    position: absolute;
}

.fromRight {
    transform: translate3d(30px, 0, 0);
    opacity: 0;
    position: absolute;
}

.fromRight_active {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    position: absolute;
}

.returnToRight_active {
    transform: translate3d(30px, 0, 0);
    opacity: 0;
    position: absolute;
}


.title {
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    white-space: nowrap;
    padding-left: 15px;
    z-index: 1;
    height: 40px;
}

.editButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.editButton:hover {
    background-color: rgba(112, 117, 121, 0.08);
}

.content {
    overflow: hidden;
    display: flex;
    flex: 1;
}

.zoomFade {
    height: 100%;
    width: 100%;
    position: relative;
    transition: .3s ease-in-out;
}

.scrollable {
    overflow-y: auto;
    height: 100%;
}

.scrollable::-webkit-scrollbar {
    width: 6px;
}

.scrollable::-webkit-scrollbar-track {
    opacity: 0;
}

.scrollable::-webkit-scrollbar-thumb {
    opacity: 0;
    transition: .5s ease-in-out;
}

.scrollable:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);;
    border-radius: 10px;
}

.zoomOut {
    transform: scale3d(0.9, 0.9, 1);
    opacity: 0;
}

.returnFromZoomOut {
    transform: scale3d(0.9, 0.9, 1);
    opacity: 0;
}

.returnFromZoomOut_active {
    transform: scale3d(1, 1, 1);
    opacity: 1;
}

.fromZoom {
    transform: scale3d(1.1, 1.1, 1);
    opacity: 0;
    position: absolute;
}

.fromZoom_active {
    transform: scale3d(1, 1, 1);
    opacity: 1;
    position: absolute;
}

.returnToZoom_active {
    transform: scale3d(1.1, 1.1, 1);
    opacity: 0;
    position: absolute;
}

.profileTitle {
    position: relative;
    aspect-ratio: 1/1;
}

.profilePhoto {
    font-size: 224px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.chatInfo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 100px;
    background: linear-gradient(
            0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    pointer-events: none;
    padding: 8px 20px;
}

.chatTitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 4px;
}

.chatStatus {
    opacity: .5;
    font-size: 14px;
    line-height: 21px;
}

.tabList {
    box-shadow: 0 2px 2px rgba(114, 114, 114, .16);
    display: flex;
    border-top: 10px solid rgb(244,244,245);
}

.tabItem {
    padding: 16px 12px;
    font-weight: 500;
}

.tabItem_active {
    color: #4a95d6;
    position: relative;
}

.tabItem_active:before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #4a95d6;
    bottom: 0;
    left: 16px;
    right: 16px;
}

.membersList {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
}

.membersItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px;
    pointer-events: none;
}

.memberAvatar {
    margin-right: 8px;
    position: relative;
}

.memberStatus {
    width: 14px;
    height: 14px;
    background-color: #0ac630;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.memberInfo {
    font-weight: 500;
    color: #555758;
}

.addMembersButton {
    position: absolute;
    bottom: 16px;
    right: 16px;
    background-color: rgb(51, 144, 236);
}

.addMembersButton:hover {
    background-color: rgb(74, 149, 214);
}

.addMembersButton svg *:not(rect) {
    color: #fff;
}

.addUsersIcon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #3390ec;
    border-radius: 50%;
    width: 56px;
    height: 56px;
}
