.messageItem {
    display: flex;
    margin-bottom: 10px;
}

.messageItem_fromMe {
    align-self: flex-end;
}

.messageItem_fromThem {
    align-self: flex-start;
}
.messageItem_fromThem path{
    fill: #fff;
}

.senderAvatar {
    margin-top: auto;
}

.content {
    display: flex;
    flex-direction: column;
    padding-left: 5px;

}
.messageItem_fromMe .content{
    align-items: flex-end;
}
.messageItem_fromThem .content{
    align-items: flex-start;
}

.message {
    background-color: #fff;
    border-radius: 12px;
    max-width: 480px;
    word-wrap: break-word;
    box-shadow: 1px 2px 5px 1px rgba(114,114,114, .3);
    padding: 5px 8px;
}

.message:not(:last-child) {
    margin-bottom: 5px;
}
.messageItem_fromMe .message{
    background-color: rgb(238,255,222);
}
.messageItem_fromMe path {
    fill: rgb(238,255,222);
}

.senderName {
    display: flex;
    font-size: 14px;
    font-weight: 500;
}

.messageContent {
    position: relative;
    white-space: pre-wrap;
    display: flow-root;
}

.messageMeta {
    position: relative;
    display: flex;
    align-items: center;
    color: rgba(104, 108, 114, .75);
    font-size: 12px;
    top: 4px;
    height: 24px;
    margin-left: 7px;
    margin-right: -4px;
    padding: 0 4px;
    float: right;
    user-select: none;
}
.messageItem_fromMe .messageMeta{
    color: rgb(79,174,78);
}

.messageItem .svg {
    position: absolute;
    bottom: -8px;
}

.messageItem_fromMe .svg {
    right: -16px;

}

.messageItem_fromThem .svg {
    left: -16px;
    transform: scale(-1, 1)
}

