.scrollable {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(90, 90, 90, .3) transparent;
    background-color: #fff;
}

.opacity {
    opacity: 0;
}

.scrollable::-webkit-scrollbar {
    width: 6px;
}

.scrollable::-webkit-scrollbar-track {
    opacity: 0;
}

.scrollable::-webkit-scrollbar-thumb {
    opacity: 0;
    transition: .5s ease-in-out;

}

.scrollable:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);;
    min-height: 5rem;
    max-height: 12.5rem;
    border-radius: 10px;
}

.messageList {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: 728px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
    justify-content: flex-end;
    position: relative;
}

.messageGroupByDate {
    display: flex;
    flex-direction: column;
}

.date {
    margin: 16px 0;
    position: sticky;
    top: 10px;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
}

.date:before, .date:after {
    content: "";
    position: absolute;
    width: 40%;
    height: 1px;
    background-color: #989BA1;
    opacity: 0.2;
    top: 50%;
}

.date:before {
    left: 17px;
}

.date:after {
    right: 17px;
}


.scrollDown {
    position: absolute;
    right: 15px;
    bottom: 96px;
    background-color: #fff;
    transform: translateY(80px);
    opacity: 0;
    transition: 0.25s ease-in;
    pointer-events: none;
}

/*cursor: pointer;
position: absolute;
right: 15px;
bottom: 96px;
transform: translateY(80px);
opacity: 0;
background-color: #fff;
border-radius: 50%;
width: 55px;
height: 55px;
display: flex;
justify-content: center;
align-items: center;
transition: 0.25s ease-in;
pointer-events: none;*/
.scrollDown:hover {
    background-color: #3390ec;
}

.scrollDown > svg *:not(rect) {
    transition: 0.25s ease-in;
    stroke: rgb(141, 145, 148);
}

.scrollDown:hover svg *:not(rect) {
    stroke: #ffffff;
}

.scrollDown_show {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
}




