.container {
    display: flex;
    width: 100%;
    padding: 15px 15px 15px 24px;
    cursor: pointer;
    user-select: none;
    transition: .2s ease-in-out;
}

.container:not(.container_active):hover {
    background-color: #e8e8e8;
}

.container_active {
    background-color: #4a95d6;
    color: #fff;
}

.logo {
    margin-right: 15px;
}

.chatInfo {
    flex: 1;
    overflow: hidden;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
}

.chatInfo__title {
    font-size: 18px;
    font-weight: 500;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #989BA1;
}

.chatInfo__lastMessage {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #555758;
    font-weight: 500;
}
.chatItem__lastMessage span {
    color: #52585D;
}

.container_active .chatInfo__title,
.container_active .chatInfo__lastMessage,
.container_active .chatInfo__lastMessage span,
.container_active .metadata {
    color: #fff;
}

.metadata {
    margin-left: auto;
    font-size: 12px;
    font-weight: 400;
    align-self: flex-start;
}



